Source: argobots
Section: libs
Priority: optional
Maintainer: daos-stack <daos@daos.groups.io>
Build-Depends: debhelper (>=10), libunwind-dev, valgrind
Standards-Version: 4.1.4
Homepage: https://wiki.hpdd.intel.com/display/DC/DAOS+Community+Home
Vcs-Git: https://github.com/pmodels/argobots.git
Vcs-Browser: https://github.com/pmodels/argobots

Package: libabt0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lightweight, low-level threading and tasking framework
 This release is an experimental version of Argobots that contains
 features related to user-level threads, tasklets, and some schedulers.
 .
 This package contains the shared library.

Package: libabt-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libabt0 (= ${binary:Version}), ${misc:Depends}
Description: lightweight, low-level threading and tasking framework
 This release is an experimental version of Argobots that contains
 features related to user-level threads, tasklets, and some schedulers.
 .
 This package contains the development files.

